*{
    background-color: 	rgb(255,255,102);
}

.title{
    font-weight: bold;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(10, 225, 225);
    text-align: center;
}

.links{
    font-size: 29px;
    font-family: Arial;
}

.test{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 300px;
    height: auto;
}